.Icons{
    display: flex;
}

.I-icon{
    margin-top: 80px;
    width: 60px;
}

.I-icon:nth-child(1){
    margin-left:80px;
}

.I-icon:nth-child(2){
    margin-left: 2rem;
}

.I-icon:nth-child(3){
    margin-left: 2rem;
}
